@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';

$font-primary: 'Poppins',Arial, sans-serif;

$white: #fff;
$black: #000000;
// $darken: #3a4348;

$primary: #0033c7;

//SERVICES
.ftco-services{
	// margin-top: -50px;
	padding: 5em 0;
	.services{
		display: block;
		width: 100%;
		position: relative;
		@include transition(.3s);
		&:after{
			position: absolute;
			top: 50px;
			left: 0;
			right: 0;
			content: '';
			width: 100%;
			height: 1px;
			background: lighten($primary,55%);
			z-index: -1;
		}
		&:before{
			position: absolute;
			top: 45px;
			right: 0;
			content: '';
			z-index: 1;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 0 5px 10px;
			border-color: transparent transparent transparent lighten($primary,55%);
		}
		.icon{
			line-height: 1.3;
			position: relative;
			width: 100px;
			height: 100px;
			// background: lighten($primary,55%);
			background: $primary;
			@include border-radius(50%);
			span{
				font-size:50px;
				color: $white;
			}
		}
		.media-body{
			h3{
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 18px;
			}
		}
		&.services-2{
			&:after, &:before{
				opacity: 0;
			}
			.icon{
				line-height: 1.3;
				position: relative;
				width: 52px;
				height: 52px;
				// background: lighten($primary,55%);
				background: transparent;
				@include border-radius(50%);
				span{
					font-size:50px;
					color: $primary;
				}
			}
		}
	}
}
